// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

//BOX-SHADOWS
$box-shadow-primary: 0 1.5rem 4rem rgba($color-black, 0.2);
$box-shadow-btn-hover: 0 1rem 2rem rgba($color-black, 0.2);
$box-shadow-btn-active: 0 0.5rem 1rem rgba($color-black, 0.2);

//BORDER RADIUS
$border-radius-1: 0.3rem;
$border-radius-btn: 10rem;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
